<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kisaanagrofunds</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

</head>
<body>
    <div class="menubar">
       
            <div class="logo"> <img src="logo.jpg" alt="Logo"></div>
    
        
    <ul>
        
        <li class="active"><a href="index.html">Home</a></li>
        
        
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        
        
        
        
    </ul>
    </div>
    <div class="catch">Solution to All your Problems at<div class="name">Kisaan Agro Funds</div></div>
    <div class="boxmain">
        <p>Choose Your Problem And We'll Provide the Solution</p>
        <h6>REGISTER NOW</h6>
    </div>
    
</body>
</html>