*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #88b595;

}
h1{
    padding-left: 38%;
    padding-top: 30px;
}
.accordion{
    margin: 60px auto;
    width: 600px;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 20px; 
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0.15),
                -6px -6px 10px -1px rgb(178, 178, 149);
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight:500;
    cursor:pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
} 

input[type="radio"]{
    display: none;
}

.accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: fit-content;
    padding: 10px 10px 20px;
}

.content a.edit{
    background-color: darkseagreen;
    border-radius: 3px;
    margin-left: 43.5%;
    padding-block: 11px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: aliceblue;
}
.content a.edit:hover{
    background-color: rgb(38, 69, 38);
}